
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
    <body>
        <a href="http://127.0.0.1:8000/skoleadmin/" target="_blank">Admin</a> - <a href="{% url 'homepage' %}">Forside</a>
        
        <table>
            <tr>
              <td>Afdeling</td>
              <td>A B H # todo</td>
            </tr>
            <tr>
              <td>Team</td>
              <td>            {% for team in teams %}
                <a href="{% url 'team_detail' team_id=team.id %}">{{ team.name }}</a>
                {% endfor %}
    </td>
            </tr>
            <tr>
              <td>Klasse</td>
              <td>{% for school_class in school_classes %}
                <a href="{% url 'school_class_detail' class_id=school_class.id %}">{{ school_class.name }}</a>
            {% endfor %} </td>
            </tr>
          </table>
        <h1>Welcome to SchoolClass Dashboard</h1>
            <hr>        
    {% block content %}{% endblock content %}
    </body>
</html>


