
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
    <body>
        <a href="http://127.0.0.1:8000/skoleadmin/" target="_blank">Admin</a> - <a href="{% url 'homepage' %}">Forside</a>
        
        <table>
            <tr>
              <td>Afdeling</td>
              <td>{% for top_department in all_departments %}
                <a href="{% url 'department_detail' department_id=top_department.id %}">{{ top_department.name }}</a>
            {% endfor %}</td>
            </tr>
            <tr>
              <td>Team</td>
              <td>{% for top_team in all_teams %}
                <a href="{% url 'team_detail' team_id=top_team.id %}">{{ top_team.name }}</a>
                {% endfor %}
    </td>
            </tr>
            <tr>
              <td>Klasse</td>
              <td>{% for top_school_class in all_school_classes %}
                <a href="{% url 'school_class_detail' class_id=top_school_class.id %}">{{ top_school_class.name }}</a>
            {% endfor %} </td>
            </tr>
          </table>
        <h1>Welcome to SchoolClass Dashboard</h1>
            <hr>        
    {% block content %}{% endblock content %}
    </body>
</html>


