{% extends "skole/base.html" %}

{% block content %}
<div>
    <a href="{% url 'homepage' %}">Kløver-Skolen
    </a> > {{ department.name }}
<h1>Afdeling - {{ department.name }}</h1>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="w-25">Team</th>
                    <th class="w-25">Klasse</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td class="w-25"><a href="{% url 'team_detail' team_id=team.id %}">{{ team.name }}</a></td>
                    <td class="w-25">
                        {% for school_class in team.school_classes.all %}
                            <a href="{% url 'school_class_detail' class_id=school_class.id %}">{{ school_class.name }}</a><br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
