{% extends "skole/base.html" %}

{% block content %}
<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                {% for department in all_departments %}
                <th>
                    <a class="text-white" href="{% url 'department_detail' department_id=department.id %}">
                        {{ department.name }}
                    </a>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for department in all_departments %}
                <td>
                    <!-- Teams og Klasser -->
                    <ul>
                        {% for team in department.teams.all %}
                        <li>
                            <!-- Teamets navn -->
                            <a href="{% url 'team_detail' team_id=team.id %}">
                                {{ team.name }}
                            </a>

                            <!-- Klasser i teamet -->
                            <ul>
                                {% for schoolclass in team.schoolclasses.all %}
                                <li>
                                    <a href="{% url 'schoolclass_detail' class_id=schoolclass.id %}">
                                        {{ schoolclass.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}


{% comment %} {% extends "skole/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        {% for department in all_departments %}
        <div class="col-md-4">
            <!-- Afdelingens navn som kolonneoverskrift -->
            <h3>
                <a href="{% url 'department_detail' department_id=department.id %}">
                    {{ department.name }}
                </a>
            </h3>

            <!-- Teams og Klasser -->
            <ul>
                {% for team in department.teams.all %}
                <li>
                    <!-- Teamets navn -->
                    <a href="{% url 'team_detail' team_id=team.id %}">
                        {{ team.name }}
                    </a>

                    <!-- Klasser i teamet -->
                    <ul>
                        {% for schoolclass in team.schoolclasses.all %}
                        <li>
                            <a href="{% url 'schoolclass_detail' class_id=schoolclass.id %}">
                                {{ schoolclass.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
 {% endcomment %}
