{% extends "skole/base.html" %}

{% block content %}
<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Afdeling</th>
            <th>Team</th>
            <th>Klasse</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {% for top_department in all_departments %}
                    <a href="{% url 'department_detail' department_id=top_department.id %}">{{ top_department.name }}</a><br>
                {% endfor %}
            </td>
            <td>
                {% for top_team in all_teams %}
                    <a href="{% url 'team_detail' team_id=top_team.id %}">{{ top_team.name }}</a><br>
                {% endfor %}
            </td>
            <td>
                {% for top_schoolclass in all_schoolclasses %}
                    <a href="{% url 'schoolclass_detail' class_id=top_schoolclass.id %}">{{ top_schoolclass.name }}</a><br>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
    
{% endblock content %}
