{% extends "skole/base.html" %}

{% block content %}
<h1>Forside</h1>

{% for department in departments %}
<a href="{% url 'department_detail' department.id %}"><p>{{ department }}</p></a>
<ul>    
    {% for team in department.teams.all %}
    <li><a href="{% url 'team_detail' team_id=team.id %}">{{ team }}</a></li>
    <ul>
        {% for school_class in team.school_classes.all %}
        <li><a href="{% url 'school_class_detail' class_id=school_class.id %}">{{ school_class.name }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
{% endfor %}
    
{% endblock content %}
