{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="{% static 'media/skolelogo.png' %}" alt="Logo" class="d-inline-block align-top logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/skoleadmin/" target="_blank">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage' %}">Forside</a>
            </li>
            <!-- Dropdown for Afdelinger -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="afdelingerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Afdelinger
                </a>
                <div class="dropdown-menu" aria-labelledby="afdelingerDropdown">
                    {% for department in all_departments %}
                    <a class="dropdown-item" href="{% url 'department_detail' department_id=department.id %}">{{ department.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <!-- Dropdown for Teams -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="teamsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Teams
                </a>
                <div class="dropdown-menu" aria-labelledby="teamsDropdown">
                    {% for team in all_teams %}
                    <a class="dropdown-item" href="{% url 'team_detail' team_id=team.id %}">{{team}}</a>
                    {% endfor %}
                </div>
            </li>
            <!-- Dropdown for Klasser -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="klasserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Klasser
                </a>
                <div class="dropdown-menu" aria-labelledby="klasserDropdown">
                    {% for schoolclass in all_schoolclasses %}
                    <a class="dropdown-item" href="{% url 'schoolclass_detail' class_id=schoolclass.id %}">{{ schoolclass.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sliderindex' %}">Sliders</a>
            </li>
        </ul>
    </div>
</nav>
<div><h2>Kløver-Skolens Normerings-Dashboard</h2></div>
