{% extends "skole/base.html" %}

{% block content %}
<a href="{% url 'homepage' %}">Kløver-Skolen
</a> > 
<a href="{% url 'department_detail' department_id=school_class.team.department.id %}">{{ school_class.team.department.name }}
</a> > 
<a href="{% url 'team_detail' team_id=school_class.team.id %}">{{ school_class.team.name }}</a> > 
{{ school_class }}
<h1>{{ school_class.name }}</h1>

<hr>
<div
    class="table-responsive"
>
    <table
        class="table table-primary"
    >
        <thead>
            <tr>
                <th scope="col">Økonomi</th>
                <th scope="col">Personer / Lektioner</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td scope="row">Indtægt = {{ school_class.total_school_fee|floatformat }} kr.</td>
                <td>Lektioner: {{ total_lessons_in_class }}</td>
            </tr>
            <tr class="">
                <td scope="row">Udgifter = {{ total_price_for_class }} kr.</td>
                <td>Elever: {{ school_class.students.count }}</td>
            </tr>
            <tr class="">
                <td scope="row">Overskud = {{ surplus }} kr.</td>
                <td></td>
            </tr>
            <tr class="">
                <td scope="row">Forbrugs % = {{ percentage_used }} %</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<table>
    <thead>
        <tr>
            <td><h2>Elever</h2></td>
            <td><h2>   </h2></td>
            <td><h2>Personale</h2></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><table border="1">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Alder</th>
            <th>Takst</th>
            <th>Tildeling</th>
            <th>Beløb</th>
        </tr>
    </thead>
    <tbody>
        {% for student in school_class.students.all %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.age_number }}</td>
            <td>{{ student.school_fee.level }}</td>
            <td>{{ student.school_fee.name }}</td>
            <td>{{ student.school_fee.amount|floatformat }} kr.</td>
        </tr>
        {% endfor %}
    </tbody>
</table><p>Samlet tildeling: {{ school_class.total_school_fee }} kr.</p></td>
</td><td>   </td>
            <td><table border="1">
                <thead>
                    <tr>
                        <th>Personale</th>
                        <th>Kategori</th>
                        <th>Lektioner</th>
                        <th>Fag</th>
                        <th>Lokale</th>
                        <th>Beløb pr. lektion</th>
                        <th>Beløb samlet</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.teacher_name }}</td>
                        <td>{{ lesson.employment_category }}</td>
                        <td>{{ lesson.total_lessons_per_teacher }}</td>
                        <td>{{ lesson.subject }}</td>
                        <td>{{ lesson.classroom }}</td>
                        <td>{{ lesson.price_per_lesson }}</td>
                        <td>{{ lesson.total_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    
            <p>Total Price for Class: {{ total_price_for_class }}</p>
        </td>
        </tr>
    </tbody>
</table>

<h2>Samlet Data:</h2>
<!-- Opsummerende tabel -->
<table border="1">
    <thead>
        <tr>
            <th>Personalekategori</th>
            <th>Total antal timer</th>
        </tr>
    </thead>
    <tbody>
        {% for category, hours in total_hours %}
        <tr>
            <td>{{ category }}</td>
            <td>{{ hours }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><strong>Sum af total antal timer</strong></td>
            <td><strong>{{ total_sum }}</strong></td>
        </tr>
    </tbody>
</table>

{% endblock content %}

