{% extends "skole/base.html" %}

{% block content %}
<a href="{% url 'homepage' %}">Kløver-Skolen</a> > 
<a href="{% url 'department_detail' department_id=schoolclass.team.department.id %}">
    {{ schoolclass.team.department.name }}
</a> > 
<a href="{% url 'team_detail' team_id=schoolclass.team.id %}">
    {{ schoolclass.team.name }}
</a> > 
{{ schoolclass }}

<table>
    <td><h1>{{ schoolclass.name }}</h1></td>
    <td><a href="{% url 'schoolclass_edit' class_id=schoolclass.pk %}" class="btn btn-warning">Rediger klasse</a></td>
</table>


<hr>

<!-- Økonomi og Lektioner -->
<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Økonomi</th>
                <th>Personer / Lektioner</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Indtægt = {{ schoolclass.total_school_fee|floatformat }} kr.</td>
                <td>Lektioner: {{ total_lessons_in_class }}</td>
            </tr>
            <tr>
                <td>Udgifter = {{ total_price_for_class }} kr.</td>
                <td>Elever: {{ schoolclass.students.count }}</td>
            </tr>
            <tr>
                <td>Overskud = {{ surplus }} kr.</td>
                <td></td>
            </tr>
            <tr>
                <td>Forbrugs % = {{ percentage_used }} %</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<hr>

<!-- Elever -->
<div class="table-responsive">
    <h2>Elever</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Klassetrin</th>
                <th>Takst</th>
                <th>Tildeling</th>
                <th>Beløb</th>
                <th>Handling</th>
            </tr>
        </thead>
        <tbody>
            {% for student in schoolclass.students.all %}
            <tr>
                <!-- Gør elevens navn til et link til detaljesiden -->
                <td>
                    <a href="{% url 'student_detail' pk=student.pk %}">
                        {{ student.name }}
                    </a>
                </td>
                <td>{{ student.age_number }}</td>
                <td>{{ student.school_fee.level }}</td>
                <td>{{ student.school_fee.name }}</td>
                <td>{{ student.school_fee.amount|floatformat }} kr.</td>
                <td>
                    <a href="{% url 'student_edit' pk=student.pk %}" class="btn btn-sm btn-primary">Rediger</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Samlet tildeling: {{ schoolclass.total_school_fee }} kr.</p>
</div>

<hr>

<!-- Personale -->
<div class="table-responsive">
    <h2>Personale</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Personale</th>
                <th>Kategori</th>
                <th>Lektioner</th>
                <th>Fag</th>
                <th>Lokale</th>
                <th>Beløb pr. lektion</th>
                <th>Beløb samlet</th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.teacher_name }}</td>
                <td>{{ lesson.employment_category }}</td>
                <td>{{ lesson.total_lessons_per_teacher }}</td>
                <td>{{ lesson.subject }}</td>
                <td>{{ lesson.classroom }}</td>
                <td>{{ lesson.price_per_lesson|floatformat }} kr.</td>
                <td>{{ lesson.total_price|floatformat }} kr.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total Price for Class: {{ total_price_for_class }} kr.</p>
</div>

<hr>

<!-- Samlet Data -->
<h2>Samlet Data:</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Personalekategori</th>
            <th>Total antal timer</th>
        </tr>
    </thead>
    <tbody>
        {% for category, hours in total_hours %}
        <tr>
            <td>{{ category }}</td>
            <td>{{ hours }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><strong>Sum af total antal timer</strong></td>
            <td><strong>{{ total_sum }}</strong></td>
        </tr>
    </tbody>
</table>

{% endblock content %}
