{% extends "skole/base.html" %}

{% block content %}
<h1>
    Team Details - 
    <a href="{% url 'department_detail' team.department.id %}">{{ team.department.name }}</a> 
    - {{ team.name }}
  </h1>
        <ul>
        {% for school_class in team.school_classes.all  %}
        <li><a href="{% url 'school_class_detail' class_id=school_class.id %}">{{ school_class.name }}</a></li>
        {% endfor %}
        </ul>
        <h1>Summary for {{ team.name }}</h1>
<table border="1">
    <thead>
        <tr>
            <th>Klasse</th>
            <th>Antal elever</th>
            <th>Sum af Elev Level</th>
            <th>Sum af Elev Beløb</th>
            <th>Lektioner i klassen</th>
            <th>Personaletyper</th>
            <th>Lønforbrug</th>
        </tr>
    </thead>
    <tbody>
        {% for data in summary_data %}
            <tr>
                <td>{{ data.class_name }}</td>
                <td>{{ data.num_students }}</td>
                <td>{{ data.sum_school_fee_amount }}</td>
                <td>{{ data.sum_school_fee }}</td>
                <td>{{ data.num_lessons }}</td>
                <td>
                   
                    <ul>
                   {% for cat, hours in data.class_data.items %}
                   <li>
                    {{ cat }}: {{ hours }} timer
                </li>
                   {% endfor %}
                </ul>
                    
                </td>
                <td>0 kroner #TODO</td>
                    
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
          <td>I alt</td>
          <td>{{ totals.num_students }}</td>
          <td>{{ totals.school_fee_amount }}</td>
          <td>{{ totals.school_fee }}</td>
          <td>{{ totals.num_lessons }}</td>
          <td><ul>
            {% for category, hours in total_hours %}
                <li>{{ category }}: {{ hours }}</li>
            {% endfor %}
        </ul></td>
        <td>{{ total_price_for_team }}</td>

        </tr>
      </tfoot>
</table>
    <h2>Overskud = {{ total_school_fee_for_team_formatted }} - {{ total_price_for_team_formatted }} = {{ surplus_formatted }}</h2>
    <h2>Forbrugs-%: {{ percentage_used }}</h2>
{% endblock content %}
